In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
pd.options.mode.chained_assignment = None

In [3]:
dados = pd.read_excel(r'C:\Users\Diego\Projetos Python\Artigo Dermato\Planilha_tratada.xlsx', index_col=False)

In [4]:
hosp_pediatrico = dados[dados.Hospital == 6]

# Classificação de faixa etária

In [5]:
for i in range(len(hosp_pediatrico['Idade (meses)'])):
    if hosp_pediatrico['Idade (meses)'].iloc[i] <= 1:
        hosp_pediatrico['Idade (anos)'].iloc[i] = (hosp_pediatrico['Idade (meses)'].iloc[i]/12)
    elif hosp_pediatrico['Idade (meses)'].iloc[i] > 1:
        hosp_pediatrico['Idade (anos)'].iloc[i] = (hosp_pediatrico['Idade (meses)'].iloc[i]/12)

In [6]:
classes = [0, 0.084, 0.91666667 , 2, 5, 10, 17]
labels = ['0 - 1 mês', '2 - 11 meses' , '1 - 2 anos', '3 - 5 anos', '6 - 10 anos', '11 - 17 anos']

hosp_pediatrico['Faixa Etária'] = pd.cut(x= hosp_pediatrico['Idade (anos)'], 
       bins=classes, 
       labels=labels, 
       include_lowest=True)

In [7]:
freq_etaria = hosp_pediatrico.groupby('Faixa Etária')[['Nº Requisição']].count().rename(
    columns={'Nº Requisição':'Frequência'})
freq_etaria['%'] = ((freq_etaria['Frequência'] / freq_etaria['Frequência'].sum()) * 100).round(2)

In [8]:
freq_etaria

              Frequência      %
Faixa Etária
0 - 1 mês             21  12.57
2 - 11 meses          11   6.59
1 - 2 anos            23  13.77
3 - 5 anos            27  16.17
6 - 10 anos           29  17.37
11 - 17 anos          56  33.53

In [9]:
freq_etaria.to_excel('Frequência Consultorias por Faixa Etária.xlsx', index=False)

In [10]:
classe1 = hosp_pediatrico[['Faixa Etária', 'Classe de doença (CID1)', 'CID 1']]
classe1.rename(columns={'Classe de doença (CID1)':'Classe', 'CID 1':'CID'}, inplace=True)
classe2 = hosp_pediatrico[['Faixa Etária', 'Classe de doença (CID2)', 'CID 2']].dropna()
classe2.rename(columns={'Classe de doença (CID2)':'Classe', 'CID 2':'CID'}, inplace=True)
classe3 = hosp_pediatrico[['Faixa Etária', 'Classe de doença (CID3)', 'CID 3']].dropna()
classe3.rename(columns={'Classe de doença (CID3)':'Classe', 'CID 3':'CID'}, inplace=True)

In [11]:
classe_cid_faixa = pd.concat([classe1, classe2, classe3], ignore_index=True)
classe_cid_faixa

     Faixa Etária  Classe  CID
0      3 - 5 anos    10.0  B86
1    11 - 17 anos     3.0  L27
2      3 - 5 anos     3.0  L20
3     6 - 10 anos     3.0  L27
4      3 - 5 anos     7.0  L71
..            ...     ...  ...
198    1 - 2 anos     1.0  L01
199    1 - 2 anos    10.0  B86
200  2 - 11 meses    10.0  B87
201    1 - 2 anos    10.0  B86
202     0 - 1 mês     3.0  L20

[203 rows x 3 columns]

In [12]:
classe_por_faixa = classe_cid_faixa.groupby('Faixa Etária')['Classe'].value_counts().to_frame()
classe_por_faixa.rename(columns={'Classe':'Frequência'}, inplace= True)

# Classes por Faixa Etária

In [13]:
classe_por_faixa = classe_cid_faixa.groupby('Faixa Etária')['Classe'].value_counts().to_frame()
classe_por_faixa.rename(columns={'Classe':'Frequência'}, inplace= True)
classe_por_faixa.reset_index(inplace=True)

In [14]:
porcentagem_relativa = []
for x in range(classe_por_faixa.shape[0]):
    y = classe_por_faixa.iloc[x][0]
    n = ((classe_por_faixa.loc[x][2] / classe_por_faixa[classe_por_faixa['Faixa Etária'] == y]['Frequência'].sum()) * 100).round(2)
    porcentagem_relativa.append(n)  

classe_por_faixa['% Relativa'] = porcentagem_relativa

In [15]:
classe_por_faixa['% Geral'] = ((classe_por_faixa['Frequência'] / classe_por_faixa['Frequência'].sum()) * 100).round(2)
classe_por_faixa

    Faixa Etária  Classe  Frequência  % Relativa  % Geral
0      0 - 1 mês     3.0          14       48.28     6.90
1      0 - 1 mês    10.0           7       24.14     3.45
2      0 - 1 mês     1.0           6       20.69     2.96
3      0 - 1 mês     2.0           1        3.45     0.49
4      0 - 1 mês    12.0           1        3.45     0.49
5   2 - 11 meses     3.0           4       30.77     1.97
6   2 - 11 meses    10.0           4       30.77     1.97
7   2 - 11 meses    15.0           2       15.38     0.99
8   2 - 11 meses     1.0           1        7.69     0.49
9   2 - 11 meses     5.0           1        7.69     0.49
10  2 - 11 meses    12.0           1        7.69     0.49
11    1 - 2 anos    10.0          10       34.48     4.93
12    1 - 2 anos     3.0           6       20.69     2.96
13    1 - 2 anos     1.0           5       17.24     2.46
14    1 - 2 anos     5.0           3       10.34     1.48
15    1 - 2 anos     7.0           2        6.90     0.99
16    1 - 2 anos     4.0           1        3.45     0.49
17    1 - 2 anos     9.0           1        3.45     0.49
18    1 - 2 anos    15.0           1        3.45     0.49
19    3 - 5 anos     3.0          11       33.33     5.42
20    3 - 5 anos     7.0           6       18.18     2.96
21    3 - 5 anos    10.0           6       18.18     2.96
22    3 - 5 anos     1.0           3        9.09     1.48
23    3 - 5 anos     5.0           3        9.09     1.48
24    3 - 5 anos     8.0           2        6.06     0.99
25    3 - 5 anos     9.0           1        3.03     0.49
26    3 - 5 anos    15.0           1        3.03     0.49
27   6 - 10 anos     3.0          17       51.52     8.37
28   6 - 10 anos     1.0           4       12.12     1.97
29   6 - 10 anos     7.0           4       12.12     1.97
30   6 - 10 anos    10.0           4       12.12     1.97
31   6 - 10 anos     4.0           2        6.06     0.99
32   6 - 10 anos     5.0           1        3.03     0.49
33   6 - 10 anos    11.0           1        3.03     0.49
34  11 - 17 anos     3.0          25       37.88    12.32
35  11 - 17 anos    10.0          12       18.18     5.91
36  11 - 17 anos     7.0           9       13.64     4.43
37  11 - 17 anos     1.0           4        6.06     1.97
38  11 - 17 anos     8.0           4        6.06     1.97
39  11 - 17 anos     2.0           3        4.55     1.48
40  11 - 17 anos    12.0           3        4.55     1.48
41  11 - 17 anos     5.0           2        3.03     0.99
42  11 - 17 anos     9.0           2        3.03     0.99
43  11 - 17 anos    15.0           2        3.03     0.99

In [16]:
classe_por_faixa.to_excel('Classes por Faixa Etária.xlsx', index=False)

# CIDs por Faixa Etária

In [17]:
cid_por_faixa = classe_cid_faixa.groupby('Faixa Etária')['CID'].value_counts().to_frame()
cid_por_faixa.rename(columns={'CID':'Frequência'}, inplace= True)
cid_por_faixa.reset_index(inplace=True)

In [18]:
porcentagem_relativa = []
for x in range(cid_por_faixa.shape[0]):
    y = cid_por_faixa.iloc[x][0]
    n = ((cid_por_faixa.loc[x][2] / cid_por_faixa[cid_por_faixa['Faixa Etária'] == y]['Frequência'].sum()) * 100).round(2)
    porcentagem_relativa.append(n)  

cid_por_faixa['% Relativa'] = porcentagem_relativa

In [19]:
cid_por_faixa['% Geral'] = ((cid_por_faixa['Frequência'] / cid_por_faixa['Frequência'].sum()) * 100).round(2)

In [20]:
tabela_final_top5 = pd.DataFrame()
for x in cid_por_faixa['Faixa Etária'].unique():
        n = cid_por_faixa[cid_por_faixa['Faixa Etária'] == x].head()
        tabela_final_top5 = tabela_final_top5.append(n)

In [21]:
tabela_final_top5.reset_index(drop=True, inplace=True)
tabela_final_top5.index = range(1, tabela_final_top5.shape[0] + 1)
tabela_final_top5

    Faixa Etária  CID  Frequência  % Relativa  % Geral
1      0 - 1 mês  L21           8       27.59     3.94
2      0 - 1 mês  B86           6       20.69     2.96
3      0 - 1 mês  L01           4       13.79     1.97
4      0 - 1 mês  L20           4       13.79     1.97
5      0 - 1 mês  B08           1        3.45     0.49
6   2 - 11 meses  B86           2       15.38     0.99
7   2 - 11 meses  L20           2       15.38     0.99
8   2 - 11 meses  B00           1        7.69     0.49
9   2 - 11 meses  B87           1        7.69     0.49
10  2 - 11 meses  D18           1        7.69     0.49
11    1 - 2 anos  B86           5       17.24     2.46
12    1 - 2 anos  L01           3       10.34     1.48
13    1 - 2 anos  B08           2        6.90     0.99
14    1 - 2 anos  L20           2        6.90     0.99
15    1 - 2 anos  L53           2        6.90     0.99
16    3 - 5 anos  L20           6       18.18     2.96
17    3 - 5 anos  L27           4       12.12     1.97
18    3 - 5 anos  L01           3        9.09     1.48
19    3 - 5 anos  L50           3        9.09     1.48
20    3 - 5 anos  B00           2        6.06     0.99
21   6 - 10 anos  L20          10       30.30     4.93
22   6 - 10 anos  L01           4       12.12     1.97
23   6 - 10 anos  L27           4       12.12     1.97
24   6 - 10 anos  L30           2        6.06     0.99
25   6 - 10 anos  L40           2        6.06     0.99
26  11 - 17 anos  L27          13       19.70     6.40
27  11 - 17 anos  L20           8       12.12     3.94
28  11 - 17 anos  L70           8       12.12     3.94
29  11 - 17 anos  B00           6        9.09     2.96
30  11 - 17 anos  L01           3        4.55     1.48

In [22]:
tabela_final_top5.to_excel('Top 5 CIDs por Faixa Etária.xlsx', index=False)

# Classes Geral

In [23]:
classes_geral = classe_cid_faixa[['Classe']].value_counts().to_frame().rename(columns={0:'Frequência'})
classes_geral['%'] = ((classes_geral['Frequência'] / classes_geral['Frequência'].sum()) * 100).round(2)

In [24]:
classes_geral

        Frequência      %
Classe
3.0             77  37.93
10.0            43  21.18
1.0             23  11.33
7.0             21  10.34
5.0             10   4.93
8.0              6   2.96
15.0             6   2.96
12.0             5   2.46
2.0              4   1.97
9.0              4   1.97
4.0              3   1.48
11.0             1   0.49

In [25]:
classes_geral.to_excel('Frequência Classes Geral.xlsx', index=False)

# 10 principais CIDs Geral

In [26]:
doencas_top10 = classe_cid_faixa[['CID']].value_counts().to_frame().rename(columns={0:'Frequência'}).head(10)
doencas_top10['%'] = ((doencas_top10['Frequência'] / doencas_top10['Frequência'].sum()) * 100).round(2)

In [27]:
doencas_top10

     Frequência      %
CID
L20          32  23.70
L27          23  17.04
L01          18  13.33
B86          17  12.59
L70          10   7.41
L21          10   7.41
B00           9   6.67
L50           6   4.44
L30           6   4.44
Q89           4   2.96

In [28]:
doencas_top10.to_excel('Frequência CIDs Geral.xlsx')